* {
    margin: 0;
    padding: 0;
}

body {
    background: #ebebeb;
    font-family: poppins;
}

section>div {
    display: flex;
    padding: 50px;
    align-items: center;
}

section>div>div:first-child>img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

section>div>div:nth-child(2) {
    padding: 100px;
}

section>div>div>h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

section>div>div>p {
    font-size: 18px;
    font-weight: 300;
}

section>div>div>a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    font-weight: bold;
}